
.navbar{
    display:flex;
    position: fixed;
    justify-content: center;
    background-color: blue; 
    width:100%;
    font-weight: bold;
    row-gap: 10px;
    height: 55px;
    align-items: center;
    padding-bottom: 2px;
    padding-top: 5px;
    margin-top: px;
    
}
.home{
   
    font-size: 15px;
    color:white;
    cursor: pointer;
    width: 15%;
    padding-top:10px;
    height:30px;
    text-align: center;
    margin-right: 8px;
   text-decoration: none;
    border-radius: 8px;
}

.job{
  
    font-size: 15px;
    color:white;
    cursor: pointer;
   
    width: 15%;
    padding-top:10px;
    height:30px;
    text-align: center;
    margin-right: 8px;
    border-radius: 8px;
  
    text-decoration: none;
}
.about{
    
    width: 15%;
    padding-top:10px;
    height:30px;
    font-size: 15px;
    color:white;
    cursor: pointer;
    
    text-align: center;
    margin-right: 8px;
   text-decoration: none;
    border-radius: 8px;
}

.addJob{
  
    font-size: 15px;
    color:white;
    cursor: pointer;
    
    width: 15%;
    padding-top:10px;
    height:30px;
    text-align: center;
    margin-right: 10px;
    border-radius: 8px;
    text-decoration: none;
    background-color: darkblue;
}
.line{
    position: fixed;
    color:white;
    width:100%;
    color:rgb(241, 227, 227);
    margin-top: 60px;
    
}



