
.navbar{
    display:flex;
    position: fixed;
    justify-content: right;
    background-color: blue; 
    width:100%;
    row-gap: 10px;
    height: 55px;
    align-items: center;
    padding-bottom: 2px;
    padding-top: 15px;
    margin-top: -68px;
    font-weight: bold;
}
.home{
    
    font-size: 15px;
    color:white;
    cursor: pointer;
    width: 13%;
    padding-top:10px;
    height:30px;
    text-align: center;
    margin-right: 8px;
    background-color: darkblue;
    border-radius: 8px;
    text-decoration: none;
}

.job{
   
    font-size: 15px;
    color:white;
    cursor: pointer;
 
    width: 13%;
    padding-top:10px;
    height:30px;
    text-align: center;
    margin-right: 8px;
    border-radius: 8px;
    text-decoration: none;
}

.addJob{
    
    font-size: 15px;
    color:white;
    cursor: pointer;
   
    width: 15%;
    padding-top:10px;
    height:30px;
    text-align: center;
    margin-right: 12px;
    border-radius: 8px;
    text-decoration: none;
}
.about{
    
    font-size: 15px;
    color:white;
    cursor: pointer;
    
    width: 15%;
    padding-top:10px;
    height:30px;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
}
.line{
    position: fixed;
    color:white;
    width:100%;
    margin-top: 4px;
    color:rgb(241, 227, 227)
    
}









